# Environments
venv/
env_win/
env/
env (1)/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
pip-wheel-metadata/

# Firebase
serviceAccountKey.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
